*{padding: 0%;
margin: 0;
}

.nav-section {
display: flex;
flex-direction: row;
justify-content: space-between;
border: 1px solid black;
background-color:black;
color: #f19201;

}

.icon{
    margin-left: 160%;
    margin-top: 29%;
}
.moringa{
margin-top: 80%;
}
a{
    margin-top: 4%;
}
.moring{
  margin-top:3.6%;
  margin-right: 7%;
  background-color: #f19201;
  color: white;
  padding-right: 20px;
  padding-left:20px ;
  
}
.premium{
    background-image: url(images/image2.png);
    background-size:cover;
    width:auto 
    
}
.welcome{
    
color:white;
padding-top: 120px;
padding-bottom: 120px;
font-size: 22px;
padding-left: 90px;
}
.Order{
    font-size: 14px;
    padding-left:30px ;
    background-color: #f19201;
    color: white;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}
.order{
    padding-bottom: 10%;
    margin-left:7%;
}

.services-section{
    background-color:aliceblue;   
}
.services{
font-size: 27px;
font-weight: 700;
color: #f19201;
font-style: inherit;
text-align: center;

}
.unique{
    text-align: center;
    font-style: italic;
    margin-bottom: 60px;
}
.circle-one{
    -webkit-border-radius:60%;
    -moz-border-radius:60%;
     margin: 70px;
     background: #f19201;
     border-radius: 200%;
     padding-left: 5%;
     padding-right: 5%;
     padding-top: 3%;
     padding-bottom: 2%;
     
}
.col1{
    background: white;
    width: 200px;
    padding-left:50px;
    padding-top: 30px; 
    padding-bottom: 2%;
    padding-right: 20px;
}
.col2{
    width: 200px;
    padding-left:30px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20%;
}

.circle-two{
-moz-border-radius:50%;
-webkit-border-radius:50%;
background-color:#f19201;
border-radius: 200%;
margin: 60px;
padding-left: 5%;
padding-right: 5%;
padding-top: 3%;
padding-bottom: 2%;
    }

    .keep{
         background: white;
         margin-left:0px;
         width: 200px;
         bottom: 0px;
         }

         .circle-three{
            -moz-border-radius:50%;
            -webkit-border-radius:50%;
            background-color:#f19201;
            border-radius: 200%;
            margin: 90px;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 3%;
            padding-bottom: 2%;
         }

                .col3{
                 background: white;
                 margin-left: 0px;
                 width: 200px;
                 bottom: 0px;
                 padding-left: 2%;
                 padding-right: 3%;
                 padding-top: 3%;
                 padding-bottom: 2%;
                         
                }

                .boxes{
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 50px;
                }
               
                .reviews{
                    background: black;
                    color: white;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
                .review{
                    margin-right: 180px;
                    font-size: 50px;
                    border-bottom: 6px solid white;

                    
                
                          
                    
                 }
                .organic{
                    font-size: 40px;
                    margin-top: 100px;
                    margin:left:180px;
            
                }
                 .mix{
                    font-style: italic;
                    margin-top: 90px;

                }
                .loo{
                    margin-top: 90px;
                    margin-right:90px;
                }
                .menu{
                    text-align: center;
                     color: #f19201;
                     font-size: 24px;
                     /*comment*/ 

                }
                .wood{
                    text-align: center;
                    font-style: italic;
                
                }
                .cash{
                    color:#f19201; 
                  margin-left: 1px; 
                  margin-top: 20px; 
                
                }
                .chapo{
                    margin-left: 20px;
                    margin-top: 10px;
                }
                .col4{
                    display: flex;
                    background: white;
                    width: 350px;
                    padding-bottom: 5%;
                    padding-left: 5%;
                    padding-top: 5%;

                }
                .oda{
                    margin-bottom: 10%;
                    margin-top: 20%;
                }
                .beef{
                    margin-left: 20px;
                    margin-top: 10px;
                }
                .col5{
                    display: flex;
                    background: white;
                    width: 350px;
                    margin-top: 8%;
                    padding-bottom: 5%;
                    padding-left: 5%;
                    padding-top: 5%;
                }

                    .chicken-stew{
                        margin-left: 20px;
                        margin-top: 10px;
                    }
                    .col6{
                        display: flex;
                        background: white;
                        width: 350px;
                        padding-top: 5%;
                        padding-bottom: 5%;
                        padding-left: 5%;
                    }

                       .rice{
                            margin-left: 20px;
                            margin-top: 10px;
                        }
                        .col7{
                            display: flex;
                            background: white;
                            width: 350px;
                            padding-top: 5%;
                            margin-top: 7%;
                            padding-bottom: 5%;
                            padding-left: 5%;
                        
                        }


                            .food{
                                display: flex;
                                justify-content: space-around;
                                margin-top: 30px ;
                                padding-bottom: 60px;
                            
                            }
                            .book{
                                background-image: url(images/image8.png);
                                background-size: cover;
                                height: 500px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                text-align: center;
                                color: white;
                            }
                            .close{
                                margin-top: 80px;
                                font-size: x-large;
                            }
                            .table{
                                margin-bottom: 40px;
                                font-size: xx-large;
                                font-weight: 800;
                            }
                            .Book-Now{
                                margin-left: 650px;
                                margin-bottom: 100px;
                                margin-right: 650px;
                                background-color:transparent;
                                color: white;
                                font-size: 15px;
                                font-weight:700;
                            }
                            footer{
                                background-color: black;
                                color: white;
                                height: 50px;
                                font-size: 20px;
                            }

                            



            
                

    